Source: flask-babel
Maintainer: Vincent Vinet <vvinet@revolutionlinux.com>
Section: python
Priority: optional
Build-Depends: python (>= 2.6.0-0), debhelper (>= 9), python-sphinx,
    python-flask, python-wtforms, python-babel, python-tz, python-speaklater,
    python-setuptools, python-all
Standards-Version: 3.9.3
Homepage: http://packages.python.org/Flask-Babel/

Package: python-flaskext.babel
Architecture: all
Depends: ${python:Depends}, python-flask (>= 0.6.1-2), python-speaklater,
     python-werkzeug (>= 0.6.1), python-wtforms (>= 0.6.1),
     python-jinja2 (>= 2.4), python-babel, python-tz,
     python (>= 2.5.4-5~) | python-simplejson
Provides: python-flaskext.babel
Conflicts: python-flaskext.babel
Replaces: python-flaskext.babel
Description: Flask extension for i18n
 Flask-Babel is an extension to Flask that adds i18n and l10n support to any
 Flask application with the help of babel, pytz and speaklater.
