#!/usr/bin/make -f


# normally we should run the tests at build time,
# but they require flask-testing, which is not packaged yet.
# So skip them for now.


%:
	dh $@ --with python2,sphinxdoc

override_dh_installdocs:
	sphinx-build docs build/html
	dh_installdocs -ppython-flaskext.babel build/html

override_dh_auto_clean:
	rm -rf build
	rm -rf *.egg-info
	find . \( -name '*.py[co]' -or -name '\._*' -or -name '\.DS_Store' \) -delete
